name: First Workflow

on:
  push: 
    branches:
      - main

jobs:
  hello_job:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v3
    
      - name: Print Hello
        run: echo "hello baxture"
